---

---

<footer
  class="px-4 sm:px-6 py-6 sm:py-8 lg:px-48 md:mt-6 bg-amber-400 border-t-2 border-zinc-700 sm:flex justify-between items-baseline">
  <p class="sm:py-0 py-1 text-lg font-semibold md:font-bold">This is footer</p>
  <p class="font-medium">
    Any suggestion?
    <a
      href="https://x.com/ayushkumarkeira"
      target="_blank"
      class="text-zinc-900 hover:underline">Let me know</a
    >
  </p>
</footer>
