---
import { CONST } from '../utils/constants'
---

<header
  class="flex items-center justify-between py-4 md:py-4 px-6 bg-secondary/5 md:px-36 bg-acent shadow-sm shadow-slate-300">
  <div class="flex gap-3 items-center">
    <h1 class="font-main md:font-semibold text-red-700 text-3xl">
      {CONST.name}
    </h1>
  </div>
</header>
